@import 'util/media';

canvas#c {
    width: 100vw;
    height: 50vh;
    @include media-desktop {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        height: 100vh;
    }

    &.blurred {
        opacity: 0.3;
    }
}


video#myVideo {
    width: 100vw;
    height: 100vh;
    @include media-desktop {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        height: 100vh;
    }
}
